.NotesSidebar {
  /* border: 3px solid rgba(0, 0, 0, .05); */
  height: 100%;
  width: 25%;
  transition: width .2s ease-in;
 
}

.NotesSidebar i {
  position: absolute;
  top: 50%;
  right: 18%;
  font-size: 2.5rem;
  color:rgba(0, 0, 0, .5);
}

.NotesListContainer {
  padding-left: 10px;
}

.NoteItem {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid rgba(0, 0, 0, .05);
  border-radius: 15px;
  padding: 0 10px;
  margin-bottom: 5px;
}
