.ProjectSidebar {
  /* border: 3px solid rgba(0, 0, 0, .05); */
  height: 100%;
  width: 25%;
  transition: width .2s ease-in;
}

.ProjectSidebar i.arrow {
  position: sticky;
  top: 50%;
  left: 18%;
  font-size: 2.5rem;
  color:rgba(0, 0, 0, .5);
}

.ProjectSidebar .fa-plus-circle {
  font-size: 1rem;
  display: inline;
}

.ProjectsContainer {
  padding-left: 20%;
  text-align: left;
}

.ProjectsContainer ul {
  padding: 0;
  display: inline;
  margin-right: 50px;

}

.Project {
  list-style: none;
  padding-left: 15px;
  margin-bottom: 10px;
}

.ProjectsList {
  font-size: 2rem;
}

.NewProject {
  margin-top: 10px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #333;
  margin-right: 10px;
}

.chevron {
  margin-right: 5px;
  font-size: .7rem;
  transition: all .6s ease-in;
}